PORT=4000
CLIENT_ORIGIN=http://localhost:4200

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=123123
DB_NAME=angular_auth

JWT_SECRET=change-this-secret
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_DAYS=7

SMTP_SERVICE=gmail
SMTP_USER=your-gmail-address@gmail.com
SMTP_PASS=your-google-app-password
MAIL_FROM=your-gmail-address@gmail.com
